<footer class="site-footer">
  <span style="margin-bottom: 1em" class="site-footer-owner"> The <a href="{{ site.github_url }}">{{ site.title }}</a> package is maintained by <a href="{{ site.author.url }}">{{ site.author.name }}</a>.</span>
  
  <span class="site-footer-credits">Method used is based on this paper:</span>
  <span class="site-footer-credits"><a href="{{site.lartillot_paper_link}}">{{site.lartillot_paper_citation}}</a></span>

  <span style="margin-top: 1em" class="site-footer-credits">This page is hosted on <a href="https://pages.github.com">GitHub Pages</a>.</span>
</footer>
